body {
    font-family: "Arial", sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70vh;
    margin: 0;
}
h1 {
font-size: 20px;
}
.calculator-container {
    text-align: left;
}

.tabs {
        position: relative;
        margin: 0 auto;
        width: 300px;
}
.tabs label {
        color: #555;
        cursor: pointer;
        display: block;
        float: left;
        width: 150px;
        height: 45px;
        line-height: 45px;
        position: relative;
        top: 2px;
        text-align: center;
}


.tabs input {
        position: absolute;
        left: -9999px;
}
.tabs input[type=radio]:checked + label {
	font-weight: 700;
}
 

#Point:checked  ~ #LPoint,
#Show:checked  ~ #LShow {
        background: #fff;
        border-color: #fff;
        top: 0;
        z-index: 3;
}

.tabs_cont {
        background: #fff;
        position: relative;
        height: 230px;
}
.tabs_cont > div {
        position: absolute;
        left: -9999px;
        top: 0;
        opacity: 0;
        -moz-transition: opacity .5s ease-in-out;
        -webkit-transition: opacity .5s ease-in-out;
        transition: opacity .5s ease-in-out;
}
#Point:checked ~ .tabs_cont #CPoint,
#Show:checked ~ .tabs_cont #CShow{
        left: 0;
        opacity: 1;
}

form {
    max-width: 500px;
    margin: auto;
}

label,
button {
    display: ruby;
    margin-bottom: 10px;
}

input[type="radio"]{
  accent-color:green;
}
button {
    background-color: #4caf50;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
}

#result {
    margin-top: 20px;
}
